.toolBar{
    display: flex;
    justify-content: center;
    width: 100%
}

.gridFiveContainer{
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 1;
    cursor: pointer;
}

.gridSeveneFromFive{
     display: flex;
justify-content: flex-start 
}